<html>
<head>
  <title>My React Router Sample</title>
</head>
<body>
  <div id="app">{{{markup}}}</div>
  <script id="initial-data" type="text/plain" data-json="{{initialData}}"></script>
  <script type="application/javascript" src="/js/bundle.js"></script>
</body>
</html>
