<html>
<head>
	<title>My React Router Sample</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style type="text/css">
	<!--
		.btn:focus,.btn:active:focus,.btn.active:focus,
		.btn.focus,.btn:active.focus,.btn.active.focus {
    		outline: none;
		}
	-->
	</style>
</head>
<body>
	<div id="app">{{{markup}}}</div>
	<script id="initial-data" type="text/plain" data-json="{{initialData}}"></script>
	<script type="application/javascript" src="/js/bundle.js"></script>
</body>
</html>
